/**
 * README:
 * This stylesheet contains styles for both AsciiDoc and Antora templates.
 * The `boostlook` class is applied across both, but due to differences in their HTML structure,
 * specific CSS rules are necessary to target each appropriately.
 *
 * High-Level HTML Structure:
 * 
 * - Antora Template:
 *   <div class="boostlook">
 *     <div class="card nav-container">...</div>
 *     <div class="doc">...</div>
 *   </div>
 *
 * - AsciiDoc Template:
 *   <div class="boostlook">
 *     <div id="header">...</div>
 *     <div id="content">...</div>
 *     <div id="footer">...</div>
 *   </div>
 *
 * - For Antora templates:
 *   The `.boostlook .doc` selector targets elements within the `.doc` class, and the 
 *   `.boostlook .nav-container` selector targets elements within the `.nav-container` class,
 *   both of which are specific to the Antora HTML structure.
 *
 * - For AsciiDoc templates:
 *   The `.boostlook:not(:has(.doc))` selector is used to target elements that do not have 
 *   a `.doc` child, applying styles specific to AsciiDoc content.

 *   Since the `.doc` class is not present in the structure above, the styles defined for 
 *   `.boostlook:not(:has(.doc))` will apply.
 */

:root {
  --bl-pasteboard-color: rgb(209, 213, 219);
  --bl-pre-background: rgb(248, 248, 248);
  --bl-table-border-color: rgb(232, 232, 232);
  --bl-table-head-background: rgb(248, 248, 248);
  --bl-background: rgb(255, 255, 255);
  --bl-card-background-color: rgb(255, 255, 255);
  --bl-cyan-color: rgb(0, 90, 156);
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-stretch: semi-condensed;
  font-display: block;
  src: url('/_/fonts/NotoSansDisplay.ttf') format('truetype'),
       url('../../../../tools/boostlook/NotoSansDisplay.ttf') format('truetype'),
       url("https://cppalliance.org/fonts/NotoSansDisplay.ttf") format('truetype');
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: normal;
  font-stretch: semi-condensed;
  font-display: block;
  src: url("/font/NotoSansDisplay-Italic.ttf") format("truetype"),
       url("../../../../tools/boostlook/NotoSansDisplay-Italic.ttf") format("truetype"),
       url("https://cppalliance.org/fonts/NotoSansDisplayItalic.ttf") format('truetype');
}

@font-face {
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: normal;
  font-stretch: condensed;
  font-display: block;
  src: url("/_/boostlook/NotoSansMono.ttf") format("truetype"),
       url("../../../../tools/boostlook/NotoSansMono.ttf") format("truetype"),
       url("https://cppalliance.org/fonts/NotoSansMono.ttf") format('truetype');
}

/*----------------- CSS Reset start -----------------*/

*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}

/*----------------- CSS Reset end -----------------*/

.boostlook {
  font-family: "Noto Sans" !important;
}

.boostlook h1,
.boostlook h2,
.boostlook h3,
.boostlook h4,
.boostlook h5,
.boostlook h6 {
display: block;
line-height: 1;
margin-top: 1em;
margin-bottom: 1em;
font-weight: 500;
}

.boostlook h1 { font-size: 1.75em; }
.boostlook h2 { font-size: 1.5em; }
.boostlook h3 { font-size: 1.375em; }
.boostlook h4 { font-size: 1.25em; }
.boostlook h5 { font-size: 1.125em; }
.boostlook h6 { font-size: 1em; }
.boostlook p { 
  font-size: 1rem;
  margin: 1em 0em; 
}
.boostlook a {
color: var(--bl-cyan-color);
text-decoration: none;
}
.boostlook a:hover {
text-decoration: underline;
}
.boostlook code {
font-family: "Noto Sans Mono", monospace;
}

.boostlook h6:has(+table)
{
margin-left: 1em;
}

.boostlook p code,
.boostlook table code,
.boostlook p tt,
.boostlook p kbd,
.boostlook p samp,
.boostlook p pre {
    background-color: transparent !important;
}

.boostlook .content div:has(> table) {
  overflow-x: auto;
}

/*----------------- Styles specific to AsciiDoc content start -----------------*/

.boostlook:not(:has(.doc)) pre {
  font-family: "Noto Sans Mono", monospace;
  background-color: var(--bl-pre-background);
  margin: 1em;
  padding: 1rem;
  overflow-x: auto;
}

.boostlook:not(:has(.doc)) table {
  border-collapse: collapse;
  margin: 1em;
  border: 1px solid var(--bl-table-border-color);
}

.boostlook:not(:has(.doc)) th {
  background-color: var(--bl-table-head-background);
  text-align: left;
  padding: 0.25em 0.55em;
  font-weight: 550;
}

.boostlook:not(:has(.doc)) td {
  border: 1px solid var(--bl-table-border-color);
  padding: 0.25em 0.55em;
}

.article.toc2.toc-left {
  min-height: 100vh;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: var(--bl-pasteboard-color);
}

.boostlook #toc > ul.sectlevel1 {
  padding-left: 0;
}

.boostlook #toc ul {
  margin: 0;
  padding: 0 0 0 0.5rem;
  line-height: 1.5;
  font-size: 0.85rem;
  list-style: none;
}

.boostlook #toc .sectlevel1 > li > a {
  font-weight: bolder;
}

.boostlook #toc #toctitle {
  font-size: 1.5rem;
}

.boostlook #toc ul li a {
  font-size: 1rem;
}

.boostlook:not(:has(.doc)),
.boostlook #toc.toc2 {
  background-color: var(--bl-card-background-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.boostlook #content {
  overflow-x: auto;
}

@media screen and (min-width: 768px) {
  .boostlook #toc.toc2 {
    position: fixed;
    width: 17rem;
    left: max(1rem, calc(50% - 39rem));
    top: 1rem;
    padding: 1.25em 1em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    height: calc(100vh - 2rem);
  }

  .boostlook:not(:has(.doc)) {
    margin-left: 18rem;
  }
}

/*----------------- Styles specific to AsciiDoc content end -----------------*/

/*----------------- Dark mode styles start -----------------*/

:root {
  --dark-bl-quote-background: rgb(11, 59, 82);
  --dark-bl-border-color: rgb(209, 228, 242);
  --dark-bl-text-color: rgb(209, 228, 242);
  --dark-bl-quote-word-color: rgb(209, 228, 242);
  --dark-bl-tabpanel-background: rgb(28, 50, 59);
  --dark-bl-tabpanel-background: rgb(28, 50, 59);
  --dark-hljs-keyword-color: rgb(173, 216, 230);
  --dark-hljs-number-color: rgb(72, 209, 204);
  --dark-hljs-doctag-color: rgb(255, 99, 132);
  --dark-hljs-section-color: rgb(255, 69, 58);
  --dark-hljs-attribute-color: rgb(70, 130, 180);
}

.dark .boostlook p code,
.dark .boostlook .colist > table code {
  color: var(--color-white);
}

.dark .boostlook .quoteblock, 
.dark .boostlook .verseblock {
  background: var(--dark-bl-quote-background);
  border-left: 3px solid var(--dark-bl-border-color);
  color: var(--dark-bl-text-color);
}

.dark .boostlook .quoteblock::before, 
.dark .boostlook .verseblock::before {
  color: var(--dark-bl-quote-word-color);
}

.dark .boostlook .tabpanel,
.dark .boostlook .tablist .is-selected.tab {
  background-color: var(--dark-bl-tabpanel-background);
}

.dark .boostlook .hljs-keyword, 
.dark .boostlook .hljs-selector-tag, 
.dark .boostlook .hljs-subst {
  color: var(--dark-hljs-keyword-color);
}

.dark .boostlook .hljs-number {
  color: var(--dark-hljs-number-color);
}

.dark .boostlook .hljs-doctag, 
.dark .boostlook .hljs-string {
  color: var(--dark-hljs-doctag-color);
}

.dark .boostlook .hljs-section, 
.dark .boostlook .hljs-selector-id, 
.dark .boostlook .hljs-title {
  color: var(--dark-hljs-section-color);
}

.dark .boostlook .title a,
.dark .boostlook p a:link,
.dark .boostlook p a:visited,
.dark .boostlook table a,
.dark .boostlook .pagination a {
  color: rgb(125 211 252);
}

.dark .boostlook .hljs-attribute, 
.dark .boostlook .hljs-name, 
.dark .boostlook .hljs-tag {
  color: var(--dark-hljs-attribute-color);
}

/*----------------- Dark mode styles end -----------------*/