@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-stretch: semi-condensed;
  font-display: block;
  src:
    /*local('Noto Sans Display')*/
    ,url('/_/fonts/NotoSansDisplay.ttf') format('truetype')
    ,url('../../../../tools/boostlook/NotoSansDisplay.ttf') format('truetype')
    ,url("https://cppalliance.org/fonts/NotoSansDisplay.ttf") format('truetype')
    ;
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: normal;
  font-stretch: semi-condensed;
  font-display: block;
  src:
    /*local('Noto Sans Display Italic')*/
    ,url("/font/NotoSansDisplay-Italic.ttf") format("truetype")
    ,url("../../../../tools/boostlook/NotoSansDisplay-Italic.ttf") format("truetype")
    ,url("https://cppalliance.org/fonts/NotoSansDisplayItalic.ttf") format('truetype')
    ;
}

@font-face {
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: normal;
  font-stretch: condensed;
  font-display: block;
  src:
    /*local('Noto sans Mono')*/
    ,url("/_/boostlook/NotoSansMono.ttf") format("truetype")
    ,url("../../../../tools/boostlook/NotoSansMono.ttf") format("truetype")
    ,url("https://cppalliance.org/fonts/NotoSansMono.ttf") format('truetype')
    ;
}

/* css reset */
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}

/*----*/

:root {
--color-cyan: rgb(0, 90, 156);
}

.boostlook {
  font-family: "Noto Sans" !important;
}

.boostlook h1,
.boostlook h2,
.boostlook h3,
.boostlook h4,
.boostlook h5,
.boostlook h6 {
display: block;
line-height: 1;
margin-top: 1em;
margin-bottom: 1em;
font-weight: 500;
}

.boostlook h1 { font-size: 1.75em; }
.boostlook h2 { font-size: 1.5em; }
.boostlook h3 { font-size: 1.375em; }
.boostlook h4 { font-size: 1.25em; }
.boostlook h5 { font-size: 1.125em; }
.boostlook h6 { font-size: 1em; }
.boostlook p { margin: 1em 0em; }
.boostlook a {
color: var(--color-cyan);
text-decoration: none;
}
.boostlook a:hover {
text-decoration: underline;
}
.boostlook code {
font-family: "Noto Sans Mono", monospace;
}
.boostlook pre {
font-family: "Noto Sans Mono", monospace;
background-color: #f8f8f8;
margin: 1em;
padding: 1em;
}

.boostlook h6:has(+table)
{
margin-left: 1em;
}
.boostlook table {
border-collapse: collapse;
margin: 1em;
}
.boostlook div:has(table, pre, code) {
	overflow-x: scroll;
}
.boostlook code,
.boostlook tt,
.boostlook kbd,
.boostlook samp,
.boostlook pre 
{
    background: none;
  }
.boostlook th {
text-align: left;
padding: 0.25em 0.55em;
font-weight: 550;
}
.boostlook td {
padding: 0.25em 0.55em;
}

/*----------------------------------------------*/

:root {
--color-pasteboard: rgb(209, 213, 219);
}

.boostlook:not(.body) {
  min-height: 100vh;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  position: relative;
  background-color: var(--color-pasteboard);
}

.boostlook #toc > ul.sectlevel1 {
  padding-left: 0;
}

.boostlook #toc ul {
  margin: 0;
  padding: 0 0 0 0.5rem;
  line-height: 1.5;
  font-size: 0.85rem;
  list-style: none;
}

.boostlook #toc .sectlevel1 > li > a {
  font-weight: bolder;
}

.boostlook #toc #toctitle {
  font-size: 1.5rem;
}

.boostlook #toc ul li a {
  font-size: 1rem;
}

.boostlook:not(.body),
.boostlook:not(.body) #toc.toc2 {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.boostlook #toc.toc2 {
  padding-left: 0;
}

.boostlook #content {
  overflow-x: auto;
}

.boostlook #header, #content, #footer {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .boostlook:not(.body) #toc.toc2 {
    position: fixed;
    width: 17rem;
    left: max(1rem, calc(50% - 39rem));
    top: 1rem;
    padding: 1.25em 1em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    height: calc(100vh - 2rem);
  }

  .content div:has(table,pre,code) {
    overflow: initial;
  }

  .boostlook:not(.body) {
    margin-left: 18rem;
  }
}
